<div class="flex h-screen bg-gray-100">
  <!-- Conversation list -->
  <div class="w-1/4 border-r border-gray-200 bg-white">
    <app-conversation-list></app-conversation-list>
  </div>

  <!-- Main chat area -->
  <div class="flex-1 flex flex-col">
    <div class="flex-1 overflow-y-auto p-4">
      <app-message-list *ngIf="!showVideoCall"></app-message-list>
      <app-video-call *ngIf="showVideoCall" (endCall)="endVideoCall()"></app-video-call>
    </div>
    <div class="border-t border-gray-200 p-4 bg-white">
      <app-message-input (videoCall)="startVideoCall()"></app-message-input>
    </div>
  </div>
</div>